/* GLOBAL STYLES */

/* Landing Page */
.header {
  background-image: url("/images/castle.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.description {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #f2f3fa;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  padding-bottom: 0.8rem;
}
.description p {
  color: #022273;
  font-size: 1.3rem;
  line-height: 1.5;
  padding-top: 2.5em;
}
.description img {
  margin: 0.5rem 0 0.8rem;
  width: 25%;
  border-radius: 200px;
}
.btn-classic {
  border:1px solid #f2f3fa;
  background: #022273;
  border-radius: 10px;
  color: #f2f3fa;
  margin-top: 1rem;
}
.btn-classic:hover {
  border:1px solid #022273;
  background:#fff;
  color:#022273;
  text-decoration: none;
}
#intro {
  margin-top: 2rem;
}
#intro h2 {
  margin-bottom: 1rem;
}
#intro a {
  color: #022273;
  font-weight: bold;
}

/* FEATURE STYLES */
.features {
  margin: 2em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #022273;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.features .btn {
  background-color: #022273;
  border: 1px solid #022273;
  color: #f2f3fa;
  margin-top: 20px;
  width: 100%;
}
.features .btn:hover {
  background-color: #f2f3fa;
  border: 1px solid #022273;
  color: #022273;
}

/* SOCIAL STYLES */
.social-link {
  background: rgba(150, 150, 150, 0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}
.social-link a {
  color: #fff;
  text-decoration: none;
}
.social-link a:hover,
.social-link a:active {
  color: #fffc54;
  text-decoration: none;
}