/*--- navigation bar ---*/
.navbar {
  background:#022273;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em;
}
a.nav-link {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover,
.navbar-brand:hover {
  color: #fffc54;
}
.navbar-collapse {
  justify-content: flex-end;
}
