<footer class="page-footer">
  <div class="container">
    <a class="footer-logo" href="/">Terry K.M. Cooper</a>
    <h3>Man About <span>Colchester</span></h3>
    <nav>
      <ul class="footer-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery/">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tomfoolery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Now</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer-copyright text-center">© 2020 Copyright: Terry Cooper</div>
</footer>