<hr>
<footer>
  <p class="branding">Terry K. Cooper - Man About <span class="branding-colour">Colchester</span></p>
  <ul>
    <li class="nav-item">
      <a class="nav-link" href="/index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog.html">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects.html">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gallery.html">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tomfoolery.html">Tomfoolery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about.html">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/now.html">Now</a>
    </li>
  </ul>
</footer>