/* Main Styles */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Lora', serif;
}
p {
  font-family: 'Lora', serif;
}
/*a {
  font-family: 'Lora', serif;
}*/

/* Navigation Bar */
.nav-link {
  color:#040f13;
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #66b6d2;
}
a.navbar-brand {
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
}

/* Footer */
footer {
  text-align: center;
  padding: 3px;
}
footer li {
  display: inline;
  text-transform: uppercase;
}
footer li a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 0.85em;
}

/* Images */
.avatar {
	border-radius: 50%;
  width: 35px;
}
.avatar-large {
  border-radius: 50%;
  width: 150px;
}
a img {
  margin-right: 15px;
}

.branding {
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
}
.center {
  text-align: center;
}
.cp-text{ 
  color: rgba(0,0,0,.7); 
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  text-align: center;
}
.intro-text {
  text-align: center;
  margin: 0% 15% 0% 15%;
}